body {
	box-sizing: border-box;
	background-color: #DAFA9D;
	color: #2F2F2F;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

}

header {
  border: 6px solid #212121;
   color: #212121;
  margin: 10px;
  padding: 30px;
  width: 600px;
  background-color:#FFFFFF;

}

a {  
    color: #697C8C;
    font-style: italic;
}


div {
  border: 6px solid #212121;
  color: #212121;
  background-color:#FFFFFF;
  text-align: left;
  margin: 10px;
  padding: 30px;
  width: 600px;
}


}

.left{
    float: left;
    margin right: 50%;
    width:25%;
}

.right{
    float: right;
    width: 50%;
     margin left: 50%;
}